#skillTable{
    width:80%;
    /* margin: 0 auto; */
    padding: 10 10 10 10;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

#buttons{
    text-align: center
}

#skillTable td{
    text-align: center;
    font-size: 18px;
    /* padding-left: 2%;
    padding-right: 2%; */
}

h1,h3,h4,h5,p,td,tr,button {
    text-align: center
}

#description{
    margin: auto;
    width: 60%;
    padding: 10px;
}