table{
    width:100%;
    margin: 0 auto;
    padding: 10 10 10 10;
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
}


.center{
    text-align: center
}

#linkedIn{
    width: 50px
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px
}

.mainB{
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    
}

.flex-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 80%;
    
}

.vacancyTable{
    margin: 20px;
    width: 90%;
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(214, 214, 214);
    margin: 5px;
    position: relative;
    border-spacing: 10px;
    border-collapse: separate;
}

.optionButtons {
    font-size: 14px;
    margin:auto;

}

hr{
    border-color: white
}

h4,h3,h2,h1{
    text-align: center
}

#button{
    text-align: center;
    margin:auto
}