<mat-form-field >
    <!-- seach bar filter -->
      <input id="filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>  

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell *matCellDef="let row"><button mat-button routerLink="/company/{{row.companyId}}"
        >{{row.companyName}}</button></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="hqLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HQ Location</th>
      <td mat-cell *matCellDef="let row">{{row.hqLocation}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="linkedIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LinkedIn</th>
        <td mat-cell *matCellDef="let row">{{row.linkedIn}}</td>
    </ng-container>

    <ng-container matColumnDef="companyUsername">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
