<div class="companyLogin"> 
        <mat-form-field  class="example-full-width">
                <input matInput [(ngModel)]="companyUsername" placeholder="Username"  name="companyUsername" [ngModelOptions]="{standalone: true}" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="companyPassword" placeholder="Password"  name="companyPassword" [ngModelOptions]="{standalone: true}" type="password">
        </mat-form-field>
<hr> 
<button mat-raised-button color="accent" (click)="companyLogIn()">Log In</button>

</div>
<p *ngIf="noError==false">Username or Email are incorrect</p>
