<mat-form-field  class="example-full-width">
        <input matInput [(ngModel)]="companyUsername" placeholder="Username"  name="companyUsername" [ngModelOptions]="{standalone: true}" >
</mat-form-field>&nbsp;&nbsp; 
<br> 
<mat-form-field class="example-full-width">
        <input matInput type="password" [(ngModel)]="companyPassword" placeholder="Password"  name="companyPassword" [ngModelOptions]="{standalone: true}" >
</mat-form-field>&nbsp;&nbsp; 
<hr> 
<button mat-raised-button color="accent" (click)="companyLogIn()">Log In</button>

<p *ngIf="noError==false">Username or Email are incorrect</p>
