<h1 style="text-align: center">{{username}}'s Profile</h1>

<h3>Skills</h3>
<div id="skillTable">
        <mat-chip-list #chipList>
        <span *ngFor="let aS of antiSkills; let i = index">
        <div class="unapplied">
            <span id="skillButtons" *ngIf="(aS!=undefined);else skillApplied">
                <mat-chip value="aS.skillId" color="accent" (click)="addToSkills(aS)" 
                    onClick="this.disabled=true">{{aS.skill}}</mat-chip>  
            </span>
        </div>
        <div class="applied">
            <span skillApplied *ngIf="(userSkills[i]!=undefined)">
                <mat-chip color="primary" class="applied" value="userSkills[i].skillId">
                    {{userSkills[i].skill}}<mat-icon matChipRemove (click)="deleteFromSkills(userSkills[i])">cancel</mat-icon></mat-chip>  
            </span>
        </div>
        </span>
    </mat-chip-list>
</div>

<div id="savedVacancies">
<h3>My Saved Vacancies</h3>
<table>
    <td>
    </td>
    <td *ngFor="let vacancy of savedVacancies, let i = index">
        <tr><a [routerLink]="['/vacancy',vacancy.vacancyId]"><h4>{{vacancy.title}}</h4></a></tr>
        <tr>{{vacancy.company}}</tr>
        <tr>{{vacancy.description}}</tr>
        <tr>{{numShared[i]}}/{{numSkills[i]}} common skills</tr>
        <tr><strong>Common Skills:</strong></tr>
        <tr *ngFor="let vacSkill of vacancy.vacancySkills">
            <span *ngFor="let skill of userSkills">
                <span *ngIf="skill.skillId==vacSkill.skillId">
                    <td>{{vacSkill.skill}}</td>
                </span>
            </span>
        </tr>
        <tr><button mat-raised-button (click)="deleteFromVacancies(savedVacancies[i].vacancyId)">Drop</button></tr>
    </td>
</table>
</div>
