<div id="back">
    <br>
    <h2 style="text-align: center">Your Profile</h2>
    <h4>Hi {{username}}!</h4>
    <br>
</div>
<br>
<div id="editDiv" *ngIf="priveledge">
<table id="details">
    <tr>
    <td >Username:</td>
    <td >{{username}}</td>
    </tr>
    <tr>
    <td>Email:</td>
    <td>{{email}}</td>
    </tr>
   
</table>
<br>
    <button id="edits" (click)="displayEditUser()" mat-raised-button color="accent"  value='{{(isEditable)?"Save":"Edit"}}' #edit>{{(isEditable)?"Save":"Edit"}}</button>
</div>
<p *ngIf="passwordError" style="text-align: center">Incorrect password entered.</p>
<hr width="80%">

<!-- display all skills, highlight those which are applied to the user -->
<h3>Skills</h3>
<div id="skillTable" *ngIf="priveledge">
        <mat-chip-list #chipList>
        <span *ngFor="let aS of antiSkills; let i = index">
        <div class="unapplied">
            <span id="skillButtons" *ngIf="(aS!=undefined);else skillApplied">
                <mat-chip value="aS.skillId" color="accent" (click)="addToSkills(aS)" 
                    onClick="this.disabled=true">{{aS.skill}}</mat-chip>  
            </span>
        </div>
        <div class="applied">
            <span skillApplied *ngIf="(userSkills[i]!=undefined)">
                <mat-chip color="primary" class="applied" value="userSkills[i].skillId">
                    {{userSkills[i].skill}}<mat-icon matChipRemove (click)="deleteFromSkills(userSkills[i])">cancel</mat-icon></mat-chip>  
            </span>
        </div>
        </span>
    </mat-chip-list>
</div>

<!-- if userId doesnt match user page, display uneditable data -->
<div id="skillTable" *ngIf="!priveledge">
        <mat-chip-list #chipList>
        <span *ngFor="let aS of antiSkills; let i = index">
        <div class="unapplied">
            <span id="skillButtons" *ngIf="(aS!=undefined);else skillApplied">
                <mat-chip value="aS.skillId" color="accent"  
                    >{{aS.skill}}</mat-chip>  
            </span>
        </div>
        <div class="applied">
            <span skillApplied *ngIf="(userSkills[i]!=undefined)">
                <mat-chip color="primary" class="applied" value="userSkills[i].skillId">
                    {{userSkills[i].skill}}</mat-chip>  
            </span>
        </div>
        </span>
    </mat-chip-list>
</div>

<hr width="80%">

<h3>My Saved Vacancies</h3>

<!-- show all vacacnies attached to user with drop button -->
<div id="savedVacancies">
    <td>
    </td>
    <span *ngFor="let vacancy of savedVacancies, let i = index">
    <div class="eachVacancy">
    <table class="vacancies">
    <td>
        <tr><button mat-button (click)="openVacancy(vacancy.vacancyId)"><h4>{{vacancy.title}}</h4></button></tr>
        <tr *ngIf="vacancy.description!='POSITION NOW FILLED.'"><a href="{{vacancy.link}}">Apply</a></tr>
        <tr *ngIf="vacancy.description=='POSITION NOW FILLED.'"><mat-icon>warning</mat-icon></tr>
        <tr>{{vacancy.company}}</tr>
        <tr>{{vacancy.description}}</tr>
        <tr>{{numShared[i]}}/{{numSkills[i]}} common skills</tr>
        <tr><strong>Common Skills:</strong></tr>
        <tr *ngFor="let vacSkill of vacancy.vacancySkills">
            <span *ngFor="let skill of userSkills">
                <span *ngIf="skill.skillId==vacSkill.skillId">
                    <td>{{vacSkill.skill}}</td>
                </span>
            </span>
        </tr>
        <tr *ngIf="priveledge"><button mat-raised-button (click)="deleteFromVacancies(vacancy.vacancyId)">Drop</button></tr>
    </td>
    </table>
    </div>
    </span>
</div>


