<h2 style="text-align: center">{{username}}'s Profile</h2>

<h3>My Skills</h3>
<p>Purple skills have been selected</p>
<!-- no longer needed -->
<!-- <div id="mySkills">
<table>
    <tr *ngFor="let skill of userSkills">
        <td>{{skill.skill}}</td>
    </tr>
</table>
</div> -->
<div id="skillTable">
    <span *ngFor="let aS of antiSkills; let i = index">
    <div class="unapplied">
        <span id="skillButtons" *ngIf="(aS!=undefined);else skillApplied">
            <button mat-raised-button value="aS.skillId" color="warn" (click)="addToSkills(aS)" 
                onClick="this.disabled=true">{{aS.skill}}</button>  
        </span>
    </div>
        <div class="applied">
            <span skillApplied *ngIf="(userSkills[i]!=undefined)">
                <button mat-raised-button class="applied" value="userSkills[i].skillId" color="primary" 
                    (click)="deleteFromSkills(userSkills[i])">{{userSkills[i].skill}}</button>  
            </span>
        </div>
    </span>
</div>
<div id="savedVacancies">
<h3>My Saved Vacancies</h3>
<table>
    <td>
    </td>
    <td *ngFor="let vacancy of savedVacancies, let i = index">
        <tr><a [routerLink]="['/vacancy',vacancy.vacancyId]"><h4>{{vacancy.title}}</h4></a></tr>
        <tr>{{vacancy.company}}</tr>
        <tr>{{vacancy.description}}</tr>
        <tr>{{numShared[i]}}/{{numSkills[i]}} common skills</tr>
        <tr><strong>Common Skills:</strong></tr>
        <tr *ngFor="let vacSkill of vacancy.vacancySkills">
            <span *ngFor="let skill of userSkills">
                <span *ngIf="skill.skillId==vacSkill.skillId">
                    <td>{{vacSkill.skill}}</td>
                </span>
            </span>
            </tr>
    </td>
</table>
</div>
