<!--The content below is only a placeholder and can be replaced.-->
<nav style="text-align: center">
  <p><a routerLink="/role-dashboard">Role Dashboard</a> |
  <a routerLink="/vacancy-dashboard">Vacancy Dashboard</a> |
  <a routerLink="/role-admin"> Role Admin </a>
</p>
</nav>

<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="100" alt="Angular Logo" routerLink="/role-dashboard" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Circle-icons-computer.svg/1024px-Circle-icons-computer.svg.png">
</div>
<h2 style="text-align:center">The Only Place to Search the IT Job Market.</h2>


<div>
  <router-outlet></router-outlet>
</div>

