<!--The content below is only a placeholder and can be replaced.-->
<nav style="text-align: center">
  <p><a routerLink="/role-dashboard">Role Dashboard</a> |
  <a routerLink="/vacancy-dashboard">Vacancy Dashboard</a></p>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="https://www.itjobswatch.co.uk/static/img/shared/itjobswatch-logo.svg">
</div>
<h2 style="text-align:center">IT Jobs, Role Statistics and Other Stuff.</h2>


<div>
  <router-outlet></router-outlet>
</div>

