<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list id="sideMenu">
      <a mat-list-item routerLink="/role-dashboard">Role</a>
      <a mat-list-item routerLink="/vacancy-dashboard">Vacancy</a>
      <span *ngIf="myUserId!=-1 && myUserId!=0">
        <a mat-list-item routerLink="/user/{{myUserId}}"><mat-icon>account_circle</mat-icon>User Details</a>
      </span>
      <span *ngIf="myCompanyId!=-1">
        <a mat-list-item routerLink="/company/{{myCompanyId}}"><mat-icon>account_circle</mat-icon>User Details</a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <img width="60" alt="Angular Logo" id="logo" routerLink="/role-dashboard" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Circle-icons-computer.svg/1024px-Circle-icons-computer.svg.png">
        <a routerLink="/role-dashboard">TechJobs</a></span>
      <span class="spacer"></span> 
      <a routerLink="/role-dashboard">Role</a>
      <a routerLink="/vacancy-dashboard">Vacancy</a>
      
      <!-- <button mat-button (click)="logOut()" routerLink="/"><mat-icon>power_settings_new</mat-icon></button> -->
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu" >
          <span *ngIf="myUserId!=-1 && myUserId!=0">
            <button mat-menu-item routerLink="/user/{{myUserId}}"><mat-icon>account_circle</mat-icon>User Details</button>
          </span>
          <span *ngIf="myCompanyId!=-1">
              <button mat-menu-item routerLink="/company/{{myCompanyId}}"><mat-icon>account_circle</mat-icon>Company Details</button>
          </span>
          <span *ngIf="myUserId==0">
            <button mat-menu-item routerLink="/company-dashboard"><mat-icon>people</mat-icon>Company Dashboard</button>
          </span>
          <button mat-menu-item disabled><mat-icon>brightness_6</mat-icon>Darkmode<mat-slide-toggle (change)="changeTheme()" checked="dark" [(ngModel)]="dark"></mat-slide-toggle></button>
          <button mat-menu-item (click)="logOut()" routerLink="/"><mat-icon>power_settings_new</mat-icon>Log Out</button>
        </mat-menu>
    </mat-toolbar>
    <!-- Ng-Content contains all other compoennts inside the navbar -->
    <ng-content> 
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
