
.data-table {
  margin: 20px auto; 
}

.full-width-table {
  width: 100%;
}

.mat-form-field {
  padding-left: 20px;
  font-size: 14px;
  width: 100%;
  padding-right: 20px;
}

.data-table {
  margin: 20px auto; 
}

.crudButton {
  margin-left: 15px;
}