<h2>Role Dashboard</h2>
<input type="text" placeholder="Search" [(ngModel)]="searchText" autocomplete="off">
&nbsp;
<table id="roleTable">
    <tr>
        <th>Job Role</th>
        <th>Role Category</th>
        <th>Rank This Year</th>
        <th>Rank Change</th>
        <th>Median Salary This Year</th>
        <th>Median Salary Change</th>
        <th>Historical Permanent Ads</th>
        <th>Live Job Vacancies</th>
    </tr>
    <tr *ngFor="let role of allRoles | filter:searchText">
        <td><button [routerLink]="['/role',role.roleId]">{{role.roleName}}</button></td>
        <td>{{role.category}}</td>
        <td></td>
        <td></td>
        <td>£{{role.medSalaryNow}}</td>
        <td>{{role.medChange}}%</td>
        <td>{{role.vacCount}}</td>
        <td>{{role.numVacanciesNow}}</td>
    </tr>

    
</table>
