<form>
        <table id="loginTable">
                <tr>
                    <th>Username:</th>
                    <td><input [(ngModel)]="username" name="username"></td>
                </tr> 
                <tr>
                    <th>Password:</th>
                    <td><input [(ngModel)]="password" name="password"></td>
                </tr>
                <tr>
                    <button (click)="logInUser()" value="login">Login</button>
            </tr>
            </table>

</form>

<div *ngIf="isError">login credentials could not be found</div>
