<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        
      <tr *ngFor="let role of allRoles"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Role</th>
        <td mat-cell *matCellDef="let row"> <a mat-tab-link [routerLink]="['/role',row.roleId]">{{row.roleName}}</a></td>
      </tr>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let row">{{row.category}}</td>
    </ng-container>
    
    <!-- Historical Ads Column -->
    <ng-container matColumnDef="vacCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Historical Perminant Ads</th>
        <td mat-cell *matCellDef="let row">{{row.vacCount}}</td>
    </ng-container>
    
  <!-- Mean Salary This Year  -->
    <ng-container matColumnDef="sumSalaryNow">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mean Salary This Year</th>
        <td mat-cell *matCellDef="let row">£{{row.sumSalaryNow}}</td>
    </ng-container>

     <!-- Mean Salary This Year  -->
     <ng-container matColumnDef="numVacanciesNow">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Live Job Vacancies</th>
        <td mat-cell *matCellDef="let row">{{row.numVacanciesNow}}</td>
    </ng-container>

    <!-- Mean Salary This Year  -->
    <ng-container matColumnDef="medChange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mean Salary Change</th>
        <td mat-cell *matCellDef="let row">{{row.medChange}}%</td>
    </ng-container>

     <!-- Mean Salary This Year  -->
     <ng-container matColumnDef="rankNow">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank This Year</th>
        <td mat-cell *matCellDef="let row">{{row.rankNow}}</td>
    </ng-container>
    
    <ng-container matColumnDef="rankChange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank Change</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.rankChange<0">
              {{row.rankChange}} <i class="large material-icons icon-red">call_received</i>
          </ng-container>
          <ng-container *ngIf="row.rankChange>0">
              +{{row.rankChange}} <i class="large material-icons icon-green">call_made</i>
          </ng-container>
          <ng-container *ngIf="row.rankChange==0">
              {{row.rankChange}}  <mat-icon>arrow_forward</mat-icon>
          </ng-container>
          
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</div>
