<div id="vacancyInfo"> 
<h3> Add Vacancy </h3>
<!-- <form (ngSubmit)="submit()"> -->
    <!-- <form class="example-form"> -->

    <tr>
        <td> 
            <mat-form-field class="example-full-width">
            <input [(ngModel)]="newTitle" matInput placeholder="Job Title" #inputName="ngModel" name="newTitle" [ngModelOptions]="{standalone: true}">
            </mat-form-field>&nbsp;&nbsp; 
          
            <mat-form-field class="example-full-width">
                <input matInput readonly [(ngModel)]="newCompany.companyName" name="newCompanyName" [ngModelOptions]="{standalone: true}" placeholder="{{newCompany.companyName}}">
                </mat-form-field>&nbsp;&nbsp;
       
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="newDescription" name="newDescription" [ngModelOptions]="{standalone: true}" placeholder="Description">
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field class="example-full-width">
                    <td><input matInput [(ngModel)]="newLocation" name="newLocation" [ngModelOptions]="{standalone: true}" placeholder="Location"></td>
            </mat-form-field>&nbsp;&nbsp;
        </td> 
        <td> 
                <mat-form-field class="example-full-width">
                <td><input matInput [(ngModel)]="newSalary" name="newSalary" [ngModelOptions]="{standalone: true}" placeholder="Salary"></td>
                </mat-form-field>&nbsp;&nbsp;
            
                <mat-form-field class="example-full-width">
                <td><input matInput [(ngModel)]="newLink" name="newLink" [ngModelOptions]="{standalone: true}" placeholder="Site URL"></td>
                </mat-form-field>&nbsp;&nbsp;
            
            <mat-form-field>
                <mat-label>Role</mat-label>
                    <mat-select id="role-select" [(ngModel)]="selectedRoleId">
                            <mat-option *ngFor="let role of roles" value="{{role.roleId}}" (change)="updateRole(selectedRole.value)">
                                    {{role.roleName}}
                            </mat-option>
                    </mat-select>
            </mat-form-field>&nbsp;&nbsp;
        
            <mat-radio-group aria-label="Job Type">
                <mat-radio-button value="true" (click)="setJobType(true)" >Permanent</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button value="false" (click)="setJobType(false)">Contract</mat-radio-button>
            </mat-radio-group>
        </td>
        </tr>         
</div>
<hr> 
<div id="skillTable">
    <h3>Required/Preferred Skills:</h3>
    <span *ngFor="let s of skills; let i = index">
        <button mat-raised-button value="s.skillId" (click)="addToSkills(skills[i])" onClick="this.disabled=true">{{skills[i].skill}}</button>
    </span>
<hr> 
    <button mat-raised-button color="accent" (click)="createNewVacancy()">Add Vacancy</button>
</div>
