<h3> Add Vacancy </h3>
<!-- <form (ngSubmit)="submit()"> -->
<br> 
    <form class="example-form">

        <tr>
            <mat-form-field class="example-full-width">
            <input [(ngModel)]="newTitle" matInput placeholder="Job Title" #inputName="ngModel" name="newTitle" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </tr> 
        
        <tr> 
            
            <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="newCompany" name="newCompany" [ngModelOptions]="{standalone: true}" placeholder="Company">
            </mat-form-field>
        </tr>
        
        <tr> 
            <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="newDescription" name="newDescription" [ngModelOptions]="{standalone: true}" placeholder="Description">
            </mat-form-field>
        </tr>
        

        <tr> 
            <td>Job Type:</td>
            <td>Permanent: <input type="radio" value="true" name="newJobType" [(ngModel)]="jobType" [ngModelOptions]="{standalone: true}"> </td>Contract: <input type="radio" value="false" name="newJobType" [(ngModel)]="jobType">&nbsp;
        </tr> 

        <br>
        <tr> 
            <td>Location:</td>
            <td><input [(ngModel)]="newLocation" name="newLocation" [ngModelOptions]="{standalone: true}"></td>&nbsp;&nbsp;&nbsp;
        </tr>
        <br>
        <tr> 
            <td>Salary:</td>
            <td><input [(ngModel)]="newSalary" name="newSalary" [ngModelOptions]="{standalone: true}"></td>
        </tr>
        <br>
        <tr> 
            <td>Site URL:</td>
            <td><input [(ngModel)]="newLink" name="newLink" [ngModelOptions]="{standalone: true}"></td>
        </tr>
        <br>
        <tr> 
            <td>Role:</td>
            <td><select id="role-select" [(ngModel)]="selectedRoleId">
                    <option *ngFor="let role of roles" (change)="updateRole(selectedRole.value)" #selectDept value="{{role.roleId}}">
                        {{role.roleId}}:{{role.roleName}}
                    </option>
                </select>
            </td>
        </tr> 
        
            
            
            
           
            

    </form>
    <table>
    <hr> 
        <tr><td>Required Skills:</td></tr>
        <tr *ngFor="let s of skills; let i = index">
            <ng-container *ngIf="i%6==0">
                <td><button value="s.skillId" (click)="addToSkills(skills[i])" onClick="this.disabled=true">{{skills[i].skill}}</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="skills.length>i+1">
                        <button value="s.skillId" (click)="addToSkills(skills[i+1])" onClick="this.disabled=true"> {{skills[i+1].skill}}</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="skills.length>i+2">
                        <button value="s.skillId" (click)="addToSkills(skills[i+2])" onClick="this.disabled=true"> {{skills[i+2].skill}}</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="skills.length>i+3">    
                        <button value="s.skillId" (click)="addToSkills(skills[i+3])" onClick="this.disabled=true"> {{skills[i+3].skill}}</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="skills.length>i+4">        
                        <button value="s.skillId" (click)="addToSkills(skills[i+4])" onClick="this.disabled=true"> {{skills[i+4].skill}}</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="skills.length>i+5">            
                        <button value="s.skillId" (click)="addToSkills(skills[i+5])" onClick="this.disabled=true"> {{skills[i+5].skill}}</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="skills.length>i+6">
                        <button value="s.skillId" (click)="addToSkills(skills[i+6])" onClick="this.disabled=true"> {{skills[i+6].skill}}</button>
                    </span>
                    </span>
                    </span>
                    </span>
                    </span>
                    </span>
                </td>
            </ng-container>
        </tr>
        <tr><td><button (click)="createNewVacancy()">Add Vacancy</button></td></tr>
    </table>

    <!-- <div [formGroup]="newVacancy">
        <div formGroupName="newVacancy">
        <label formArrayName="skills" *ngFor="let skill of form.controls.skills.controls; let i = index">
            <input type="checkbox" [formControlName]="i">
            {{skills[i].skill}}
        </label>
        
        <div *ngIf="!form.valid">At least one order must be selected</div>
        <br>
        <button [disabled]="!form.valid">submit</button>
        </div>
    </div>
</form> -->
