<h1>Register Account</h1>

       
<app-welcome></app-welcome>
<form (submit)="signUp()">
        <table id="registerTable">
                <tr>
                    <th>Username:</th>
                    <td><input [(ngModel)]="username" name="username"></td>
                </tr> 
                <tr>
                    <th>Password:</th>
                    <td><input [(ngModel)]="password" name="password"></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input [(ngModel)]="confirmPassword" name="password"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input [(ngModel)]="email" name="email"></td>  
                </tr>
                <tr>
                    <input type="submit" value="Register">
            </tr>
            </table>

            <div *ngIf="!isError">Passwords do no match</div>

</form>