<form >
        <table id="registerTable">
                <tr>
                    <th>Username:</th>
                    <td><input [(ngModel)]="username" name="username"></td>
                </tr> 
                <tr>
                    <th>Password:</th>
                    <td><input [(ngModel)]="password" name="password" type="password"></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input [(ngModel)]="confirmPassword" name="password" type="password"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input [(ngModel)]="email" name="email"></td>  
                </tr>
                <tr>
                 <button (click)="signUp()" value="Register">signUp</button>

                   
            </tr>
            </table>

            <div *ngIf="isError == true">Passwords do no match</div>
            <div *ngIf="isErrorShort == true">Passwords needs atleast 6 characters</div>
            <div *ngIf="isUniqueEmail == false">Email is already registered. Please enter a new email</div>
            <div *ngIf="isEmailError == true">Please enter valid e-mail</div>
            <div *ngIf="isUniqueUsername == false">Username is taken. Please enter a new username</div>
            <div *ngIf="isUserErrorShort == true">Username needs 8 characters</div>



</form>
