<h1 style = "text-align: center">{{role.roleName}}</h1>
<h3 style = "text-align: center">({{role.category}})</h3>
<table>
    <h3>Current {{role.roleName}} Vacancies:</h3>
    <tr>
        <th>Vacancy</th>
        <th>Salary</th>
        <th>Year</th>
    </tr>
    <!-- iterate through vacancies and show those from the last year on record -->
    <ng-container *ngFor = "let vac of role.vacancies">
        <tr *ngIf = "vac.uploadYear == 2013">
            <td><a href="{{vac.link}}">{{vac.title}}</a></td>
            <td>{{vac.salary}}</td>
            <td>{{vac.uploadYear}}</td> 
        </tr>
    </ng-container>
</table>

    <h3>{{role.roleName}} Role Statistics:</h3>

<table>
    <td>
        <tr>Historical Vacancies: {{vacCount}}
        <tr>Current Vacancies: {{role.numVacanciesNow}}</tr>
        <tr>Last Year's Vacancies: {{role.numVacanciesPrev}}</tr>
    </td>
    <td>
        <tr>Mean Salary: £{{role.medSalaryNow}}</tr>
        <tr>Last Year's Mean Salary: £{{role.medSalaryPrev}}</tr>
</td>
</table>

<div> 
    <div style="display: block"> 
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions" 
            [legend]="lineChartLegend"
            [chartType]="lineChartType"> 
        </canvas>
    </div>
</div>

<div style="display: block"> 
    <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"> 
    </canvas>
</div>