table{
    color: grey;
    padding: 5px;
    border: 2px;   
}

.leftTable{
    float:left
}


#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:nth-child(odd) {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(167, 173, 167);
    color: white;
  }

hr{
  border-color: rgb(200, 227, 238);
  width: 80%
}

.chart{
  width: 70%;
  display: flexbox;
  margin: auto;
  text-align: center;
  background-color: rgb(192, 192, 192);
  padding: 20px
}