<div style="text-align:center">
    <h1>
        The IT Job Market
    </h1>
    <img width="100" alt="Angular Logo" routerLink="/role-dashboard" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Circle-icons-computer.svg/1024px-Circle-icons-computer.svg.png">
</div>
<h4 style="text-align:center">The Only Place to Search the IT Job Market.</h4>
<h2>{{myUserId}} | {{myCompanyId}}</h2>

<div style="text-align:center"> 
<hr> 
<button mat-raised-button color="primary" (click)="openUser()">User</button><br><br>  
<button mat-raised-button color="primary" (click)="openCompany()">Company</button><br><br>  
<button mat-raised-button color="primary" >Admin</button>
</div>
<button (click)="logInUser(1)">change user</button>
<button (click)="logInCompany(251)">change company</button>


