    <table id="vacancyTable" *ngIf="!isVacancyEditable">
        <span *ngIf="myCompanyId==-1">
        <mat-form-field>
            <mat-label>Select A Vacancy</mat-label>
            <mat-select [(ngModel)]="selectedLevel" (ngModelChange)="selected()">
                <mat-option *ngFor="let v of allVacancies" [value]="v">
                        {{v.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </span>
        <span *ngIf="myCompanyId!=-1">
            <mat-form-field>
                <mat-label>Select A Vacancy</mat-label>
                <mat-select [(ngModel)]="selectedLevel" (ngModelChange)="selected()">
                    <mat-option *ngFor="let v of myVacancies" [value]="v">
                            {{v.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </span>
        <div style="text-align:center;"> 
        <button mat-raised-button color="accent" type="submit" value="Open" (click)="showUpdateVacancyForm()" *ngIf="!isUpdateVacancyFormVisible" >Edit</button> 
        
        </div>
    </table>


<form *ngIf="isUpdateVacancyFormVisible">
        <hr>  
    <table> 
            
            <tr> 

                <td *ngIf="!isVacancyEditable">Title:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.title}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Job Title</mat-label> 
                    <input matInput [(ngModel)]="title" name="title"> 
                    </mat-form-field>
                </td>  &nbsp;

                <td *ngIf="!isVacancyEditable">Upload Year:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.uploadYear}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Upload Year</mat-label> 
                    <input matInput [(ngModel)]="selectedLevel.uploadYear" name="uploadYear">
                    </mat-form-field> 
                </td>
            </tr> 

            <tr> 
                <td *ngIf="!isVacancyEditable">Description:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.description}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="description" name="description">
                    </mat-form-field>
                </td>  &nbsp;
             
                <td *ngIf="!isVacancyEditable">Job Type:</td>
                <td *ngIf="!isVacancyEditable">{{(selectedLevel.jobType)?"permanent":"contract"}}</td>
                <td *ngIf="isVacancyEditable">
                    <span *ngIf="selectedLevel.jobType">
                    <mat-radio-group aria-label="Job Type">
                        <mat-radio-button value="true" (click)="setJobType(true)" checked="checked">Permanent</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="false" (click)="setJobType(false)">Contract</mat-radio-button>
                    </mat-radio-group>
                    </span>
                    <span *ngIf="!selectedLevel.jobType">
                        <mat-radio-group aria-label="Job Type">
                            <mat-radio-button value="true" (click)="setJobType(true)" >Permanent</mat-radio-button>&nbsp;&nbsp;
                            <mat-radio-button value="false" (click)="setJobType(false)" checked="checked">Contract</mat-radio-button>
                        </mat-radio-group>
                    </span>
                </td>
            </tr> 
            <tr> 
                <td *ngIf="!isVacancyEditable">Link:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.link}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Link</mat-label> 
                    <input matInput [(ngModel)]="link" name="link">
                    </mat-form-field>
                </td>  &nbsp;
        
                <td *ngIf="!isVacancyEditable">Location:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.location}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Location</mat-label> 
                    <input matInput [(ngModel)]="location" name="location">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td *ngIf="!isVacancyEditable">Post Time:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.postTime}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Post Time</mat-label> 
                    <input matInput [(ngModel)]="postTime" name="postTime">
                    </mat-form-field>
                </td>  &nbsp;
           
                <td *ngIf="!isVacancyEditable">Salary:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.salary}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                            <mat-label>Salay</mat-label> 
                    <input matInput [(ngModel)]="salary" name="salary">
                    </mat-form-field>
                </td>  
            </tr>
            
            <tr>&nbsp;</tr>
            <hr> 
            <tr>    
                    <td><button (click)="toggleEdits()" mat-raised-button color="primary"  value='{{(isVacancyEditable)?"Save":"Edit"}}' #edit>{{(isVacancyEditable)?"Save":"Edit"}}</button></td>

                    <td><button mat-raised-button color="warn" (click)="deleteVacancy()">Delete Vacancy</button></td>
                </tr>
        </table>

</form>
<p *ngIf="!valid">{{validError}}</p>