    <table id="vacancyTable" *ngIf="!isVacancyEditable">
        <mat-form-field>
            <mat-label>Select A Vacancy</mat-label>
            <mat-select [(ngModel)]="selectedLevel" (ngModelChange)="selected()">
                <mat-option *ngFor="let v of allVacancies" [value]="v">
                        {{v.title}}, {{v.company}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div style="text-align:center;"> 
        <button mat-raised-button color="accent" type="submit" value="Open" (click)="showUpdateVacancyForm()" *ngIf="!isUpdateVacancyFormVisible" >Edit</button> 
        
        </div>
    </table>


<form *ngIf="isUpdateVacancyFormVisible">
        <hr>  
    <table> 
            
            <tr> 
                <!-- <td>Vacancy ID:</td>
                <td>{{selectedLevel.vacancyId}}</td> -->
                
                <!-- No longer used as company is now an entity 
                <td *ngIf="!isVacancyEditable">Company:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.company}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Company</mat-label> 
                    <input matInput [(ngModel)]="company" name="company">
                    </mat-form-field>   
                </td>&nbsp; -->

                <td *ngIf="!isVacancyEditable">Title:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.title}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Job Title</mat-label> 
                    <input matInput [(ngModel)]="title" name="title"> 
                    </mat-form-field>
                </td>  &nbsp;

                <td *ngIf="!isVacancyEditable">Upload Year:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.uploadYear}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Upload Year</mat-label> 
                    <input matInput [(ngModel)]="selectedLevel.uploadYear" name="uploadYear">
                    </mat-form-field> 
                </td>
            </tr> 

            <tr> 
                <td *ngIf="!isVacancyEditable">Description:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.description}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="description" name="description">
                    </mat-form-field>
                </td>  &nbsp;
             
                <td *ngIf="!isVacancyEditable">Job Type:</td>
                <td *ngIf="!isVacancyEditable">{{(selectedLevel.jobType)?"permanent":"contract"}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Job Type</mat-label> 
                    <input matInput [(ngModel)]="job_type" name="job type">
                    </mat-form-field> &nbsp;
                </td>
            </tr> 
            <tr> 
                <td *ngIf="!isVacancyEditable">Link:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.link}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Link</mat-label> 
                    <input matInput [(ngModel)]="link" name="link">
                    </mat-form-field>
                </td>  &nbsp;
        
                <td *ngIf="!isVacancyEditable">Location:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.location}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Location</mat-label> 
                    <input matInput [(ngModel)]="location" name="location">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td *ngIf="!isVacancyEditable">Post Time:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.postTime}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                    <mat-label>Post Time</mat-label> 
                    <input matInput [(ngModel)]="postTime" name="postTime">
                    </mat-form-field>
                </td>  &nbsp;
           
                <td *ngIf="!isVacancyEditable">Salary:</td>
                <td *ngIf="!isVacancyEditable">{{selectedLevel.salary}}</td>
                <td *ngIf="isVacancyEditable">
                    <mat-form-field class="example-full-width">
                            <mat-label>Salay</mat-label> 
                    <input matInput [(ngModel)]="salary" name="salary">
                    </mat-form-field>
                </td>  
            </tr>
            
            <tr>&nbsp;</tr>
            <hr> 
            <tr>    
                    <td><button (click)="toggleEdits()" mat-raised-button color="primary"  value='{{(isVacancyEditable)?"Save":"Edit"}}' #edit>{{(isVacancyEditable)?"Save":"Edit"}}</button></td>

                    <td><button mat-raised-button color="warn" (click)="deleteVacancy()">Delete Vacancy</button></td>
                </tr>
        </table>

</form>
    